#allSubjects{
	width:500px;
}
#professorTables{
	margin-top:-10px;
	margin-left:20px;
}
#professorSubjects{
	width:500px;
	margin-left:550px;
	margin-top:-474px;
}
#testDiv{
	color:red;
}
#studentAttachedSubjects{
	width:900px;
}
#newForm{
	margin-left:20px;
	width:520px;
}
#newTicket{
	position:absolute;
	left:575px;
	top:67px;
	width:520px;
}
.clickableRow:hover {
	cursor: pointer;
	color: green;
}
#ticketTest{
	background-color:#DD795A;
	border-color: #CF512A;
}
#ticketLab{
	background-color:#5ADDBA;
	border-color: #5ABFDD;
}
.btn.formDropdown{
	  height:39px;
	  color: #6f6f6f;
	  background-color: #ffffff;
	  background-image: none;
	  border: 1px solid #cccccc;
	  border-radius: 0;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#studentLeftBar{
	height:93%;
	width:260px;
	margin-top:-21px;
	padding-top:10px;
	background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#thisWeekTaskNames{
	font-size: 12px;
}

#thisWeekTaskLabel{
	font-size: 12px;
	margin-left:50px;
}
#weekNumberTasks{
	margin-left:5px;
	margin-right:5px;
}
.clickableButton:hover{
	cursor: pointer;
}
#studentSubjects{
	width:500px;
	margin-left:10px;
}
#studentSubjectsTable{
	margin-left:280px;
}
#subjectNameInStudentTable{
	width:250px;
}
#clickedStudentSubject{
	width:605px;
	height:93%;
	padding-left:15px;
	background-color: #fafafa;
	position:absolute;
	left:760px;
	top:45px;
	border-left: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#studentTicketComment{
	background-color: white;
	color: black;
	width:449px;
	margin-top:20px;
}
#studentSubjectTask{
	width:400px;
	padding: 15px;
	margin-bottom: 21px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: #5bc0de;
    border-color: #3db5d8;
    color: #ffffff;
    font-size: 12px;
}
#studentTaskContainer{
	margin-bottom:10px;
	height:49px;
	width:449px;
}
#taskDoneButton{
	background-color: white;
	border: 1px solid #3db5d8;
	width:49px;
	height:49px;
	margin-left:400px;
	margin-top:-70px;
	font-size:23px;
	padding-left:12px;
	padding-top:12px;
	color:#F5F5F5;
}
#taskDoneButton:hover{
	color:#7ECA4C;
	cursor: pointer;
}
#taskCalendarNotFilledButton{
	background-color: #d32a0e;
	border: 1px solid #b1240c;
	width:49px;
	height:49px;
	margin-left:400px;
	margin-top:-70px;
	font-size:23px;
	padding-left:12px;
	padding-top:12px;
	color:white;
}
#studentSubjectTicketName{
	margin-top:21px;
}
#exportToCalendarButton{
	margin-left:380px;
	margin-top:0px;
	font-size:10px;
}
#setDateButton{
	background-color: white;
	border: 1px solid #3db5d8;
	width:49px;
	height:49px;
	margin-left:448px;
	margin-top:-49px;
	font-size:11px;
	padding-left:10px;
	padding-top:8px;
	color:black;
}
#setDateButton:hover{
	cursor: pointer;
}
#subjectsToFillDate{
	margin-top:20px;
	font-size:13px;
}
#taskToExportLabel{
	margin-bottom:-20px;
}
#containerToFillDates{
	margin-top:20px;
}
#studentTasksWithFilledDate{
	width:400px;
	padding: 15px;
	margin-bottom: 21px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: white;
    border-color: #3c9a5f;
    border-right-color:white;
    color:black;
    font-size: 12px;
}
#studentTasksWithNotFilledDate{
	width:400px;
	padding: 15px;
	margin-bottom: 21px;
	border: 1px solid transparent;
	border-radius: 0;
	background-color: white;
    border-color: #f04124;
    border-right-color:white;
    color: black;
    font-size: 12px;
}
#taskCalendarNotFilledButtonInput{
	background-color: #d32a0e;
	border: 1px solid #b1240c;
	width:49px;
	height:49px;
	margin-left:400px;
	margin-top:-70px;
	font-size:23px;
	padding-left:12px;
	padding-top:12px;
	color:white;
}
#taskCalendarFilledButtonInput{
	background-color: #43ac6a;
	border: 1px solid #358753;
	width:49px;
	height:49px;
	margin-left:400px;
	margin-top:-70px;
	font-size:23px;
	padding-left:12px;
	padding-top:12px;
	color:white;
}
#taskCalendarFilledButtonInput::-webkit-input-placeholder { 
	font-size:14px;
	color:white;
	margin-right:3px;
}
#taskCalendarFilledButtonInput:hover{
	cursor: pointer;
	opacity: 0.6;
}
#taskCalendarNotFilledButtonInput:hover{
	cursor: pointer;
	opacity: 0.6;
}